.hero_container {
    width: calc(100% - 4rem);
    position: absolute;
    top: 2rem;
    left: 2Rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2rem;
    }

    img {
        max-width: 20%;
    }
}