@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Raleway', sans-serif;
  background-color: #eaeded;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', serif;
}

/* CSS */
@media (min-width: 640px) {
  .mobile-menu {
    display: none;
  }
}
